.navbar{
    border-radius: 0;
}

.footer-bg{
    background : #222222;
    padding:10px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

.well{
    background: #3598dc;
    color:#ffffff;
}

.social-icons a{
    padding:10px;
}

.social-icons a i{
    font-size: 25px;
    color:#ffffff;
}
  
.skills p{
    line-height: 35px;
    white-space:normal;
}

.skills span{
    padding: 5px 10px;
    color:#ffffff;
    background: #19bd9b;
    margin-right:5px;
    white-space: nowrap;
}